# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
brian d foy <brian.d.foy@gmail.com> <brian@stonehenge.com>
brian d foy <brian.d.foy@gmail.com> <brian@roscoe.local>
Frank Maas <maas.frank@gmail.com> Frank071
Karen Etheridge <ether@cpan.org> <ether@joyent.com>
